@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Define the actual color values */
:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

/* Dark mode overrides */
.dark {
  --background: #020617;
  --foreground: #f8fafc;
}

/* Apply the variables to the body */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Force clean styles for inputs */
input[type='text'], 
select {
  appearance: none;
  outline: none;
}